
svg {
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: visible;
    --shadow: rgba($yellow, .5);
    --outline: rgba(#fff, .4);
}
.leaf{
}
.screens1{
}
.screens2{
}

.screens3{
}
.head {
    /* animation: three 2s infinite;
    animation-direction: alternate; */
}
.lightbulb{
    fill: #f7f8a3;
    animation: flickerBulb 4s linear;
}

.filament{
    fill: #ffcc00;
    animation: flickerFilament 4s linear;
}

@keyframes flickerFilament {
	19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        fill: #ffcc00;
		opacity: .99;
	}
	0%,20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        fill: #2e2d2a;
		opacity: 0.4;
	}
}
@keyframes flickerBulb {
	19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
        fill: #f7f8a3;
		opacity: .99;
	}
	0%,20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        fill: #fff;
		opacity: 0.4;
	}
}
@keyframes sign-anim {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-3px)
    }
}
@keyframes sign-anim-2 {
    from {
        transform: translateX(0) translateY(0);
    }
    to {
        transform: translateX(-1px) translateY(-1px)
    }
}
@keyframes rustle {
    90% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }